<!DOCTYPE html>
<html>
    <head>
      <title>Anket Sistemi</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'LOGIN/LOGINCSS.css' %}" type="text/css">

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'LOGIN/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'LOGIN/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'LOGIN/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'LOGIN/site.webmanifest' %}">
      <link rel="mask-icon" href="{% static 'LOGIN/safari-pinned-tab.svg' %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <form method="get">
            <div class="form-style">
                <div class="section">
                    <h1>USERNAME<br><input type="text" name="username" maxlength="20" /></h1>
                    <h1>PASSWORD<br><input type="password" name="password"/></h1>
                    <input type="submit" value="LOG IN"/>
                </div>
                <img src="{% static 'LOGIN/ytulogo.png' %}" alt="Mountain View">
                <line></line>
                <div class="section2">
                    <a1>"İstikbal göklerdedir."</a1><br>
                    <a2>-Mustafa Kemal ATATÜRK</a2>
                </div>
            </div>
        </form>
    </body>
</html>
