{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
      {% block head %}
      {% load static %}
      <title>Anket Sistemi</title>
      <link rel="stylesheet" href="{% static 'accounts/LOGINCSS.css' %}" type="text/css">
      {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="post">{% csrf_token %}
            <div class="form-style">
                <div class="section">
                    <h1>USERNAME<br><input type="text" name="username" maxlength="20" /></h1>
                    <h1>PASSWORD<br><input type="password" name="password"/></h1>
                    <input type="submit" value="LOG IN"/>
                    {% if form.errors %}
                        <h2>Hatalı bilgi.</h2>
                    {% endif %}
                </div>
                <img src="{% static 'accounts/ytulogo.png' %}" alt="ytulogo">
                <line></line>
                <div class="section2">
                    <a1>"İstikbal göklerdedir."</a1><br>
                    <a2>-Mustafa Kemal ATATÜRK</a2>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>
