{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>HOCA</title>
    <link rel="stylesheet" href="{% static 'accounts/HOME.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/sonuclar">Sonuclar</a></li>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
    {% if user.yon %}
        {% for m in makam %}
            <d1 class="ontop">
                {% for s in sorular %}
                    S{{ forloop.counter }}: {{ s }}<br></br>
                {% endfor %}
            </d1>
            <w2 class="ontop">
                <div class="ontop">
                    <form method="POST" action="../sonuclar/">{% csrf_token %}
                        Aramak istediğiniz hoca kodu:
                        <input type="text" name="hocakodu">
                        <input type="submit" value="ARA">
                    </form>
                </div>
                <br></br>
                <table id="rapor">
                  <tr>
                    <th>Hoca Kodu</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Bölüm</th>
                    <th>Fakülte</th>
                    <th>S1</th>
                    <th>S2</th>
                    <th>S3</th>
                    <th>S4</th>
                    <th>S5</th>
                    <th>S6</th>
                    <th>S7</th>
                    <th>S8</th>
                    <th>S9</th>
                  </tr>
                  {% for r in rapor %}
                      <tr>
                        {% for rr in r %}
                            <td>{{ rr }}</td>
                        {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
                <br></br>
                <br></br>
            </w2>
        {% endfor %}
    {% endif %}
    {% if user.hoc %}
        <d1 class="ontop">
            {% for s in sorular %}
                S{{ forloop.counter }}: {{ s }}<br></br>
            {% endfor %}
        </d1>
        <w2 class="ontop">
            <table id="rapor">
              <tr>
                <th>Ders Kodu</th>
                <th>S1</th>
                <th>S2</th>
                <th>S3</th>
                <th>S4</th>
                <th>S5</th>
                <th>S6</th>
                <th>S7</th>
                <th>S8</th>
                <th>S9</th>
              </tr>
              {% for r in rapor %}
                  <tr>
                    {% for rr in r %}
                        <td>{{ rr }}</td>
                    {% endfor %}
                  </tr>
              {% endfor %}
            </table>
            <br></br>
            <br></br>
        </w2>
    {% endif %}
    <div class="box">
    </div>
    <br></br>
    <footer>
    </footer>
{% endblock %}
