{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>HOCA</title>
    <link rel="stylesheet" href="{% static 'accounts/HOME.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/sonuclar">Sonuclar</a></li>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/">Log out</a></li>
    </ul>
    {% if user.yon %}
        {% for m in makam %}
            <d1 class="ontop">
                {% for s in sorular %}
                    S{{ forloop.counter }}: {{ s }}<br></br>
                {% endfor %}
            </d1>
            <w2 class="ontop">
                <table id="rapor">
                  <tr>
                    <th>Hoca Kodu</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Bölüm</th>
                    <th>Fakülte</th>
                    <th>S1</th>
                    <th>S2</th>
                    <th>S3</th>
                    <th>S4</th>
                    <th>S5</th>
                    <th>S6</th>
                    <th>S7</th>
                    <th>S8</th>
                    <th>S9</th>
                  </tr>
                  {% for r in rapor %}
                      <tr>
                        {% for rr in r %}
                            <td>{{ rr }}</td>
                        {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
            </w2>
        {% endfor %}
    {% endif %}
    {% if user.hoc %}
        <w2 class="ontop">
        {% for soru in sorular %}
            {{ soru }}<br></br>
            {% if forloop.counter == 1 %}
                {{ soru01 }}<br></br>
            {% endif %}
            {% if forloop.counter == 2 %}
                {{ soru02 }}<br></br>
            {% endif %}
            {% if forloop.counter == 3 %}
                {{ soru03 }}<br></br>
            {% endif %}
            {% if forloop.counter == 4 %}
                {{ soru04 }}<br></br>
            {% endif %}
            {% if forloop.counter == 5 %}
                {{ soru05 }}<br></br>
            {% endif %}
            {% if forloop.counter == 6 %}
                {{ soru06 }}<br></br>
            {% endif %}
            {% if forloop.counter == 7 %}
                {{ soru07 }}<br></br>
            {% endif %}
            {% if forloop.counter == 8 %}
                {{ soru08 }}<br></br>
            {% endif %}
            {% if forloop.counter == 9 %}
                {{ soru09 }}<br></br>
            {% endif %}
            {% if forloop.counter == 10 %}
                {{ soru10 }}<br></br>
            {% endif %}
            {% if forloop.counter == 11 %}
                {{ soru11 }}<br></br>
            {% endif %}
            {% if forloop.counter == 12 %}
                {{ soru12 }}<br></br>
            {% endif %}
            {% if forloop.counter == 13 %}
                {{ soru13 }}<br></br>
            {% endif %}
            {% if forloop.counter == 14 %}
                {{ soru14 }}<br></br>
            {% endif %}
            {% if forloop.counter == 15 %}
                {{ soru15 }}<br></br>
            {% endif %}
            {% if forloop.counter == 16 %}
                {{ soru16 }}<br></br>
            {% endif %}
        {% endfor %}
    {% endif %}
    </w2>
    <div class="box">
    </div>
{% endblock %}
