{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        {% load static %}
        <title>YONETIM</title>
        <link rel="stylesheet" href="{% static 'accounts/HOME.css' %}" type="text/css">
    {% endblock %}
    </head>
  <body>
    {% block body %}
    <ul>
        <li><a2 class="active" href="#home">Home</a2></li>
        <li><a2 href="#sonuclar">Sonuclar</a2></li>
        <li><a2 href="#profil">Profil</a2></li>
        <li><a2 href="/">Log out</a2></li>
    </ul>
    {% endblock %}
  </body>
</html>
